<%= render partial: "shared/user", locals: { user: @user } %>
<%= link_to 'New Post', new_user_post_path(@user.id) %>
<div class="user-bio"> 
  <h3>Bio</h3>
  <p><%= @user.bio %>
</div>
<div class="user-allposts">
  <% @user.recent_posts.each do |post| %>
    <div class="user-post">
      <h3><%= post.title %></h3>
      <span class="title-date"><%= post.created_at.strftime('%F %T') %></span>
      <p><%= post.text %></p>
      <div class="user-postdata">
        <p>Comments: <%= post.comments_counter %></p>
        <p>Likes: <%= post.likes_counter %></p>
      </div>
    </div>
  <% end %>
  <%= link_to 'See all posts', user_posts_path(@user), class: "btn-allposts"%>
</div>