<%= render 'shared/flashes' %>
<%= render partial: "shared/user", locals: { user: @user } %>
<% @user.posts.each do |post| %>
  <%= link_to user_post_url(id: post.id) do %>
  <div class="post-detailed">
    <div class="post-text">
      <h3><%= post.title %></h3> 
      <span class="title-date"><%= post.created_at.strftime('%F %T') %></span>
      <p><%= post.text %></p>
      <div class="user-postdata">
        <p>Comments: <%= post.comments_counter %></p>
        <p>Likes: <%= post.likes_counter %></p>
      </div>
    </div>
    <% end %>
  </div>
  <div class="comments-container">
    <% counter = 0 %>
    <% post.recent_comments.each do |comment| %>
      <div class="comment">
        <div class="comment-body">
          #<%= counter += 1 %>
          <p class="comment-name"><%= comment.author.name %>:</p>
          <p class="comment-text"><%= comment.text %></p>
        </div>
        <span class="comment-date"><%= comment.created_at.strftime('%F %T') %></span>
      </div>
    <% end %> 
  </div>
<% end %>  