favicon_link_tag(source = "favicon.ico", options = {}) public
<%= render 'shared/flashes' %>
<div class="postdetail-container">
  <div class="postdetail">
    <div class="postdetail-head">
      <h2><%= @post.title %> by <%= @user.name %></h2>
      <span class="title-date"><%= @post.created_at.strftime('%F %T') %></span>
      <div class="postdetail-details">
        <p>Comments: <%= @post.comments_counter %></p>
        <p>Likes: <%= @post.likes_counter%></p>
      </div>
      <div class="delete-post">
        <% if can? :destroy, @post  %>
          <%= button_to "Delete Post", { action: "destroy", id: @post.id },
                                method: :delete, class: 'del-btn btn' %>
        <% end  %>
      </div>
    </div>
    <div class="postdetail-post">
      <p><%= @post.text %></p>
    </div>
  </div>
  <div class="comments-container">
    <% counter = 0 %>
    <% @comments.each do |comment| %>
      <div class="comment">
        <div class="comment-body">
          #<%= counter += 1 %>
          <p class="comment-name"><%= comment.author.name %>:</p>
          <p class="comment-text"><%= comment.text %></p>
        </div>
        <span class="comment-date"><%= comment.created_at.strftime('%F %T') %></span>
        <div class="delete-comment">
          <% if can? :destroy, comment %>
            <%= button_to('Delete Comment', user_post_comment_path(comment.author_id, comment.post_id, comment.id), method: 'delete', id: comment.id, class: 'del-btn btn') %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= render partial: "likes/like", locals: { post: @post, user: @user } %>
  <%= render partial: "comments/comment", locals: { post: @post, user: @user } %>
</div>