<div class="postdetail-details">
    <p>Comments: <%= @post.comments_counter %></p>
    <p>Likes: <%= @post.likes_counter%></p>
</div>
<div class="postdetail-post">
    <p><%= @post.text %></p>
</div>
<div class="comments-container">
    <% counter = 0 %>
    <% @post.comments.each do |comment| %>
        <% user = User.find(comment.author_id) %>
        <div class="comment">
            <div class="comment-body">
                #<%= counter += 1 %>
                <p><%= user.name %>:</p>
                <p><%= comment.text %></p>
            </div>
            <span class="comment-date"><%= comment.created_at.strftime('%F %T') %></span>
        </div>
    <% end %> 
</div>
