<div class="postdetail-container">
  <div class="postdetail">
    <div class="postdetail-head">
      <h2><%= @post.title %> by <%= @user.name %></h2>
      <span class="title-date"><%= @post.created_at.strftime('%F %T') %></span>
      <div class="postdetail-details">
        <p>Comments: <%= @post.comments_counter %></p>
        <p>Likes: <%= @post.likes_counter%></p>
      </div>
    </div>
    <div class="postdetail-post">
      <p><%= @post.text %></p>
    </div>
  </div>
  <div class="comments-container">
    <% counter = 0 %>
    <% @post.comments.each do |comment| %>
      <% user = User.find(comment.author_id) %>
        <div class="comment">
          <div class="comment-body">
            #<%= counter += 1 %>
            <p><%= user.name %>:</p>
            <p><%= comment.text %></p>
          </div>
          <span class="comment-date"><%= comment.created_at.strftime('%F %T') %></span>
        </div>
    <% end %> 
  </div>
  <%= render partial: "likes/like", locals: { post: @post, user: @user } %>
  <h3>Add new Comment:</h3>
  <%= render partial: "comments/comment", locals: { post: @post, user: @user } %>
  </div>